body 
{
    background: #02fdfd;
}
.list__item
{
    width: 291px;
    height: 250px;
    margin: 12px;
    background: #007777;
}

.list__item:hover
{
    background: #012b2b;
    color: #fff;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
}

img 
{
    margin-top: -30px;
    margin-left: 15%;
}   

.salom{
    border: 2px solid red;
    width: 200px;
    height: 200px;
}