.pokemon-main {
    .form {
        gap: 40px;
        .form__select, .form__select__letters, .form__control, .btn {
            outline: none;
            border: none;
            background: #FFFFFF;
            border: 2px solid #000000;
            border-radius: 15px;
            appearance: none;
        }
        .btn {
            width: 200px;
        }
    }
    .pokemon-list {
        gap: 30px;
    }
    .pokemon-list-item {
        width: 307px;
        padding: 30px;
        background: #FFFFFF;
        border: 2px solid #000000;
        border-radius: 20px;
        .card-line {
            width: 100%;
            height: 2px;
            background: #000000;
        }
        .pokemon-name {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #000000;
        }
        .pokemon-title {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            color: #000000;
        }
        .pokemon-weight, .pokemon-age {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #000000;
        }
    }
}
